html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  color: blue;
  background-color: #e9ebf8;
  place-items: center;
}
.container {
  height: 500px;
}
#genPass {
  display: block;
  margin-top: 5px;
}

#pass {
  display: inline;
  width: 300px;
  margin-right: 5px;
}
